In [1]:
def square(y):
  return y*y

In [2]:
square(2)

4

In [4]:
#Anonymous function: This function will not have a name!
#Lambda Function 
#Syntax: Lambda arguments: operation

In [6]:
s = lambda y: y*y
print(s(2))

4

In [ ]:
#Make use of lambda function and return the sum of 3 numbers

In [7]:
num = [1,2,3,4,5,6,7,8,9,10]
res = []
for i in num: 
  res.append(i**2)
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#MAP - Syntax map(Function, *iterables) --> map object

It computes the operations of the function over the iterable

In [10]:
map(lambda x: x**2,num)

In [9]:
#Map 
num = [1,2,3,4,5,6,7,8,9,10]
square_lst = list(map(lambda x: x**2,num))
square_lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
Myclassstudens  = ['Vahini','Abdul','Tajmul']
upper_case = list(map(str.upper,Myclassstudens))
upper_case

['VAHINI', 'ABDUL', 'TAJMUL']

In [13]:
a = "Abdul"
a.upper()

'ABDUL'

In [19]:
float_nums = [4.77,8.99,2.33,10.99,6,33]
#use map and convert this list into a list of integers
round_numbers = list(map(int, float_nums))

In [20]:
round_numbers

[4, 8, 2, 10, 6, 33]

In [ ]:
#Make use of Map and Lambda to generate the same pattern
name = ['jack','sparrow','harry','potter']
index = [1,2,3,4]

OP: [('jack',1),('sparrow',2),('harry',3),('potter',4)]

In [22]:
name = ['jack','sparrow','harry','potter']
index = [1,2,3,4]
list(map(lambda i,j: (i,j),name,index))

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

In [37]:
#ZIP 
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = []
for i,j in zip(a,b):
  c.append(i*j)
print(c)

[6, 14, 24, 36, 50]

In [40]:
a = ['a','b','c','d']
for indx,a in enumerate(a):
  print("Index",indx)
  print("Element",a)

Index 0
Element a
Index 1
Element b
Index 2
Element c
Index 3
Element d

In [42]:
#List Comprehension
list_nos = [1,2,3,4,5,6,7]
res = []
for i in list_nos: 
  res.append(i*i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [44]:
lst_squared = [i*i for i in list_nos]

In [45]:
lst_squared

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Write a code using list comprehension to find the 3times each number from the list 
#return type is also a list
list_nos = [1,2,3,4,5,6,7]
O/P: [2,6,9,12,15,18,21]

In [46]:
Words = ['inceptz','card','btch13','pythn','class']
vowels = ['a','e','i','o','u']

#Write a simple code to return a list of words which contains vowels 
#Write it using simple for's and if's 

#List comprehension is the shorted form return and iterate over a list in a single 
#more than one for loops inside list comprehension 
#Suggestion: avoid or limit with 2 loops as probelems go complex! 
#return type of List comprehension is one list!

In [59]:
res = []
for i in Words:
  print(i)
  for j in i:
    if(j in vowels):
      res.append(i) 
  #break
print(res)

inceptz
inceptz
card
class
['inceptz', 'inceptz', 'card', 'class']

In [48]:
res

['inceptz', 'card', 'class']

In [ ]:
odd = []
even = []
[odd.append("Even") if i%2 == 0 else even.append("Odd") for i in range(0,20)]
#Return Type 1. One List

In [ ]:
odd

In [69]:
res

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [63]:
res =[]
hal = [res.append(i) for i in Words for j in i if j in vowels ]

SyntaxError: ignored

In [62]:
res

['inceptz', 'inceptz', 'card', 'class']

In [ ]:
Set comprehensions 
dict comprehensions
No Tuple comprehensions

In [60]:
hal = [[[1,2]]]
[l for i in hal for k in i for l in k]

[1, 2]